


#carouselExample{
  margin: 20px;
}
.d-block{
    height: 100%

  
}
@media (max-width: 440px) { 
  .d-block{
    height: 150px;
  }
}
.container{
    background-color: none;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 250px;
}
.img-cont{
    width: 200px;
    height: 250px;
  bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(58, 59, 59);
    
}
.container a{
    list-style-type: none;
    text-decoration: none;
}
.img-cont img{
   width: 200px;
   height: 200px;
   padding: 5px;
   border-radius: 10px;
   
}
.img-cont:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(255, 0, 195, 0.426), 0 6px 20px 0 rgba(34, 228, 4, 0.688);
    
}
h1{
  text-align: center;
  font-family:monospace;
}
@media (max-width: 440px) { 
  .img-cont{
    width: 100px;
    height: 130px;
  bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(58, 59, 59);
    
}
.img-cont img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
  
}
.container{
  background-color: none;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
 bottom: 20px;
  gap: 3px;
}
}
.mainitem{
display: flex;justify-content: space-evenly;
align-items: center;
background-color: rgba(234, 234, 234, 0.804);
height: 600px;
margin: 20px;
flex-wrap: wrap;
}
.mainitems{

  width: 250px;
  height: 250px;
  background-color: rgb(180, 177, 177);
}
.mainitems img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.mainitems img:hover{

  transform: scale(1.1);
}
.deal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 100px;
}
.deal-img img{
  transition: transform 0.3s ease-in-out;

}
.deal-img img:hover{
  transform: rotate(10deg);
}
@media (max-width: 440px) { 
  .deal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  
    
  }
  .deal-img{
    display: none;

  
  }
}
@media (max-width: 440px){
  .mainitems img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .mainitems{
  
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  display: flex;
  
  
}
.mainitem{
  display:flex;
  align-items: center;
  justify-content:space-around;
  background-color:  rgba(234, 234, 234, 0.804);
  height: 300px;
  width: auto;
  margin: 20px;
  flex-wrap:wrap-reverse;
  }
}