.navbar1{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color:#0F1111;
    display: inline-flex;
    justify-content: space-between;
  
}
.sec-nav{
   
    
    
}
.navbar1 li  a , .sec-nav li a{
    text-decoration: none;
    color: white;
  
}
.companyname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: x-large;
   
    text-decoration: none;
    background: -webkit-linear-gradient( #FCFAFB, #C8D3D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cart-count{
    color: #1f7ac9;
    text-decoration: none;
    background: -webkit-linear-gradient(#DAFF7D, #9bb5ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.navbar1 li , .sec-nav li{
    list-style-type: none;
}
.search{
    position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}
.search input{

    height: 20px;
    text-indent: 5px;
    border: 2px solid #d6d4d4;


   }
   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }
   .search button{


    height: 25px;
    width: 70px;
    background: rgb(91, 91, 180);

   }
.sec-nav{
    display: flex;
    width: 100%;
    height: 25px;
    background-color:#232f3E;
    justify-content: space-evenly;
    align-items: center;
}
.sec-nav a{
    font-weight: bold;
}
.sec-nav li  :hover{
    border-radius: 5px;
    border: 2px solid #ffffff;
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }
    .search input{

        height: 30px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        

       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 20px;
        width: 110px;
        background: rgb(44, 44, 46);
      font-size: 10px;
      flex-grow: inherit;
      font-weight: bolder;
      color: #ffffff;

       }
       


     

    


       
       @media (max-width: 440px) { 
        .search button {
            width: 50px;
            height: 20px;
            top: 5px;
        }
        .search button{
            font-size: 10px;
            padding: 2px;
        }
        .search input{

            height: 30px;
            width: 200px;
            text-indent: 10px;
            border: 2px solid #d6d4d4;
    
    
           }
    

        }