.navbar{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color:#0F1111;
    display: inline-flex;
    justify-content: space-between
}
.navbar li  a , .sec-nav li a{
    text-decoration: none;
    color: white;
  
}
.companyname{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar li , .sec-nav li{
    list-style-type: none;
}
.search{
    position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}
.search input{

    height: 20px;
    text-indent: 5px;
    border: 2px solid #d6d4d4;


   }
   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }
   .search button{


    height: 25px;
    width: 70px;
    background: rgb(91, 91, 180);

   }
.sec-nav{
    display: flex;
    width: 100%;
    height: 25px;
    background-color:#232f3E;
    justify-content: space-evenly;
    align-items: center;
}
.sec-nav a{
    font-weight: bold;
}
.sec-nav li  :hover{
    border-radius: 5px;
    border: 2px solid #ffffff;
}